## EX1 : ask user to enter lower case string and convert all characters with even index to upper case ?

In [10]:
var = input("Enter your Name").lower()
a = list(enumerate(var))
out = []
for i in range(len(a)):
    if a[i][0] % 2 == 0 :
        out.append(a[i][1].upper())
    else:
        out.append(a[i][1])

In [7]:
a[2][0]

2

In [14]:
string = ''.join(out)

In [15]:
string

'AhMeD'

## EX2 : you have a list of integers and ask user to enter number and if number exist inside list print exist else not exist ?

In [17]:
lst = [1,2,3,4,5]

var = int(input("Enter your Number"))

if var in lst:
    print("exist")
else:
    print("not exist")

exist

## EX3:  you have a list of integers and ask user to enter number and print number of occurrences of this number inside list ?

In [18]:
lst = [1,2,3,4,5]

lst.count(1)

1

## EX4: write a program to find number of occurrences for each item in list and store that output in dictionary ?

## EX5: you have a list and number search in list to find 2 items there sum is that number ?

In [ ]:
lst = [1,2,3,4,5]

var = int(input())
num1 = []
num2 = []

for i in lst:
    for j in lst:
        if var == i+j:
            num1.append(i)
            num2.append(j)
            
            print(i , j)

1 4
2 3
3 2
4 1

## EX6: you have a string you are asked to how many numbers , how many char , how many special char in it 
* sample input 'abc123+-\z|'
* number of numbers = 3
* number of char = 4
* number of special char = 4

## EX7: For this dict find max city for each country
* sample output (Egy -- > Damietta) --------- (US -- > California) .............................
* countries = {'Egy' : {'Cairo' : 1200 , 'Luxor' : 198 , 'Giza' : 1987 , 'Damietta' : 19870}, 'US' : {'new Yourk' : 15500 , 'Los Angeles' : 1650 , 'California' : 18062} , 'UK' : {'London' : 1800 , 'Bristol' : 1890 , 'Manchester' : 19850} , 'france' : {'Paris' : 19820 , 'Marseille' : 1980 , 'Lyon' : 19875 } }

In [5]:
countries = {'Egy' : {'Cairo' : 1200 , 'Luxor' : 198 , 'Giza' : 1987 , 'Damietta' : 19870}, 'US' : {'new Yourk' : 15500 , 'Los Angeles' : 1650 , 'California' : 18062} , 'UK' : {'London' : 1800 , 'Bristol' : 1890 , 'Manchester' : 19850} , 'france' : {'Paris' : 19820 , 'Marseille' : 1980 , 'Lyon' : 19875 } }
c=0
list3,list7,list4=[],[],[]
for k in countries:
    for i,s in (countries[k]).items():
        list3.append(i)
        list4.append(s)
    n=list4.index(max(list4))
    list7.append(f'max city for {k} is: '+list3[n]+': '+str(max(list4)))
    list3.clear()
    list4.clear()
print(list7)

['max city for Egy is: Damietta: 19870', 'max city for US is: California: 18062', 'max city for UK is: Manchester: 19850', 'max city for france is: Lyon: 19875']

## EX8 : For this dictionary find total price for meal ?

In [4]:
dic={'meal1':122,'meal2':122,'meal3':122,'meal4':122,'meal5':122}
flag=0
for k in dic:
    flag+=dic[k]
print(flag)

610

## EX9: ask user to enter integer number and show whether this number is prime or not ?

In [19]:
num=int(input('enter number: '))
flag=0
for i in range(1,num):
    if num%i==0:
        flag+=1
if flag>1:
    print('number is not prime')
else:
    print('number is prime')

number is primary

## EX10 : you have a list you are asked to reverse this list ?

In [14]:
list1=[7,3,8,4,11,0,4]
list1.reverse()
print(list1)

[4, 0, 11, 4, 8, 3, 7]

## EX11: Find Greatest Common divisor between two numbers

In [15]:
num1=int(input('enter num1'))
num2=int(input('enter num2'))
b=min(num1,num2)
c=0
for i in range(2,b+1):
    if num1%i==0 and num2%i==0:
        c=i
if c==0:
    print('nule value')
else:
    print(c)

6

## EX12: Write a program that repeatedly collects positive integers from the user, stopping when the user enters a negative number or zero. After that, output the product of all positive entries.

In [16]:
flag=1
while True:
    num=int(input('enter num: '))
    if num>0:
        flag*=num
    else:
        print(flag)
        break

720

## EX13: Write a program that accepts from the user a list of positive integers and displays the number of even and odd values in the list. The program accepts numbers from the user until he enters a negative value.

In [4]:
from functools import reduce
list10=[]
flag1=0
flag2=0
while True:
    num=int(input('enter num: '))
    if num>0:
        list10.append(num)
        if num%2==0:
            flag1+=1
        else:
            flag2+=1
    else:
        print(f'num of even is{flag1}\nnum of odd is{flag2}')
        break

num of even is2
num of odd is2

## EX14: Write a program that asks the user to enter an integer and reports all divisors in ascending order.

In [6]:
num=int(input('enter the num: '))
for i in range(1,num+1):
    if num%i==0:
        print(i,end=" ")

1 2 5 10

## EX15: Write a program that accepts numbers from the user and then tells the maximum two numbers of them. The results should be displayed when the user enters a negative number

In [8]:
list9=[]
while True:
    num=int(input('enter the num'))
    if num>=0:
        list9.append(num)
    else:
        max1=max(list9)
        list9.pop(list9.index(max1))
        max2=max(list9)
        print(f"The two largest numbers are: {max1}, {max2}")
        break

The two largest numbers are: 234, 100